{% extends 'living_worlds/living_worlds.html' %}

{% block content %}
<div class="element">
    <div><img src="{{ world.image.url }}" alt=""></div>
    <div class="text2">
        <h2 class="single_travel_title">{{ world.title }}</h2>
        {{ world.description|safe }}
    </div>
    <div class="slides">
        <img id="block_slides" class="picture" src="{{ world.image2.url }}" alt="">
        <img class="picture" src="{{ world.image3.url }}" alt="">
        <img class="picture" src="{{ world.image4.url }}" alt="">
        <img class="picture" src="{{ world.image5.url }}" alt="">
    </div>
    <button class="btnRight">Следующая картинка</button>
</div>

{% endblock %}