{% extends 'living_worlds/living_worlds.html' %}

{% block content %}
<div class="element">
    <div><img src="{{ world.image.url }}" alt=""></div>
    <div class="text2">
        <h2 class="single_travel_title">{{ world.title }}</h2>
        {{ world.description|safe }}
        <br>
        <p>Дата публикации: {{ world.created|date:"d-m-Y" }}</p>
    </div>

    <div id="viewport">
        <div class="slider" style="left: 0">
            <div class="slide"><img src="{{ world.image2.url }}" alt=""></div>
            <div class="slide"><img src="{{ world.image3.url }}" alt=""></div>
            <div class="slide"><img src="{{ world.image4.url }}" alt=""></div>
            <div class="slide"><img src="{{ world.image5.url }}" alt=""></div>
            <div class="slide"><img src="{{ world.image6.url }}" alt=""></div>
        </div>
    </div>

    <div id="viewSlider">
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
    </div>

    <button class="prev" id="prev">&larr; Назад</button>
    <button class="next" id="next">Вперёд &rarr;</button>

</div>

{% endblock %}