{% extends 'discovery_history/discovery_history.html' %}

{% block content %}
<div class="element">
    <div><img src="{{ story.image.url }}" alt=""></div>
    <div class="text2">
        <h2 class="single_story_title">{{ story.title }}</h2>
        {{ story.description|safe }}
        <br>
        <p>Дата публикации: {{ story.created|date:"d-m-Y" }}</p>
    </div>

    <div id="viewport">
        <div class="slider" style="left: 0">
            <div class="slide"><img src="{{ story.image2.url }}" alt=""></div>
            <div class="slide"><img src="{{ story.image3.url }}" alt=""></div>
            <div class="slide"><img src="{{ story.image4.url }}" alt=""></div>
            <div class="slide"><img src="{{ story.image5.url }}" alt=""></div>
            <div class="slide"><img src="{{ story.image6.url }}" alt=""></div>
        </div>
    </div>

    <div id="viewSlider">
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
    </div>

    <button class="prev" id="prev">&larr; Назад</button>
    <button class="next" id="next">Вперёд &rarr;</button>

</div>

{% endblock %}
