 {% load static %}
  <header class="header">
    <div class="menu">
        <div class="wrap2">
            <div class="logo">
                <a href="{% url 'travels' %}"><img src="{% static 'travels/internet.png/' %}" alt="logo"></a>
            </div>
            <ul>
                <li class="header__menuItem"><a href="travels.html">Путешествия</a></li>
                <li class="header__menuItem"><a href="history.html">История</a></li>
                <li class="header__menuItem"><a href="countries.html">Страны</a></li>
                <li class="header__menuItem"><a href="living_world.html">Живой мир</a></li>
            </ul>
        </div>
    </div>
  </header>