{% extends 'travels/base.html' %}

{% block content %}
<div class="element_title">
    <div class="text">
        <h2 class="main_title">Путешествия по странам мира:</h2>
    </div>
</div>
<div class="block">
    {% for travel in travels %}
    <div class="element">
        <div><a href="{% url 'travel' travel.id %}"><img src="{{ travel.image.url }}" alt=""></a></div>
        <div class="text">
            <h2><a href="{% url 'travel' travel.id %}">{{ travel.title }}</a></h2>
            <p>{{ travel.description|striptags|truncatechars:250 }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginator">
    <ul class="container">
        {% for page in paginator.page_range %}
        {% if page == travels.number %}
        <li><a href="?page={{ page }}" class="btn page-link btn--sub"></a></li>
        {% else %}
        <li><a href="?page={{ page }}" class="btn page-link"></a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}
