{% extends 'travels/base.html' %}

{% block content %}
<div class="element">
    <div><img src="{{ travel.image.url }}" alt=""></div>
    <div class="text2">
        <h2 class="single_travel_title">{{ travel.title }}</h2>
        {{ travel.description|safe }}
    </div>

    <div id="viewport">
        <div class="slider" style="left: 0">
            <div class="slide"><img src="{{ travel.image2.url }}" alt=""></div>
            <div class="slide"><img src="{{ travel.image3.url }}" alt=""></div>
            <div class="slide"><img src="{{ travel.image4.url }}" alt=""></div>
            <div class="slide"><img src="{{ travel.image5.url }}" alt=""></div>
            <div class="slide"><img src="{{ travel.image6.url }}" alt=""></div>
        </div>
    </div>

    <div id="viewSlider">
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
        <div class="viewSlide"></div>
    </div>

    <button class="prev" id="prev">&larr; Назад</button>
    <button class="next" id="next">Вперёд &rarr;</button>

</div>

{% endblock %}
